<launch>

    <arg name="project" default="stereo_dfm27uro135ml" />

    <rosparam file="$(find stereo_dfm27uro135ml)/config/params.yaml" command="load" />

    <node pkg="$(arg project)" type="$(arg project)_LiveStreamCam0" name="$(arg project)_LiveStreamCam0" output="screen" respawn="true" />

</launch>